Repository idefant/nerd-startpage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.json, stylelint

remove leading & trailing spaces from url in checkIsValidUrl
  src/utils/checkIsValidUrl.ts
Due: eslint -c .eslintrc.json

fix bug with opening suggestions after click on link
  src/pages/DashboardPage/DashboardPage.module.scss
Due: stylelint

add hotkey for editing url in history & bookmarks
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

hide local file urls in history & bookmarks
  src/hooks/useBookmarkSuggestions.ts
  src/hooks/useHistorySuggestions.ts
Due: eslint -c .eslintrc.json

refactor schema
  .eslintrc.json
  README.md
  config.yaml
  package-lock.json
  package.json
  src/api/mainApi.ts
  src/components/CommandPaletteSuggestions/CommandPaletteSuggestions.tsx
  src/contexts/DashboardContext.tsx
  src/data/command.ts
  src/data/mode.ts
  src/hooks/useCommandHotkey.ts
  src/hooks/useCommands.ts
  src/hooks/useFocused.ts
  src/hooks/useFocusedWithin.ts
  src/hooks/useModeHotkey.ts
  src/hooks/useModes.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/store/reducers/configSlice.ts
  src/types/basicType.ts
  src/types/commandType.ts
  src/types/modeType.ts
  src/ui/SuggestionList/SuggestionList.tsx
  src/utils/modifiers.ts
  src/utils/objectEntries.ts
  src/utils/removeNullObjectValues.ts
  vite.config.ts
Due: eslint -c .eslintrc.json

refactor code
  src/components/LinkSuggestions/LinkSuggestions.tsx
  src/hooks/useEditConfig.ts
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

fix bug with newTab
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

add leader sequence
  config.yaml
  src/components/BookmarkSuggestions/BookmarkSuggestions.tsx
  src/components/CommandPaletteSuggestions/CommandPaletteSuggestions.tsx
  src/components/GoogleSuggestions/GoogleSuggestions.tsx
  src/components/HistorySuggestions/HistorySuggestions.tsx
  src/components/LinkSuggestions/LinkSuggestions.tsx
  src/components/NpmSuggestions/NpmSuggestions.tsx
  src/components/YandexSuggestions/YandexSuggestions.tsx
  src/hooks/useLeaderSequence.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/types/suggestionType.ts
  src/ui/SuggestionList/SuggestionList.tsx
  src/utils/commands/openGoogle.ts
  src/utils/commands/openLinkFromClipboard.ts
  src/utils/commands/openYandex.ts
  src/utils/commands/searchFromClipboard.ts
  src/utils/modifiers.ts
Due: eslint -c .eslintrc.json

update config
  config.yaml
Due: none

hotfix
  config.yaml
  src/api/mainApi.ts
Due: eslint -c .eslintrc.json

hotfix example config
  config.yaml
Due: none

add spinner
  src/components/GoogleSuggestions/GoogleSuggestions.tsx
  src/components/NpmSuggestions/NpmSuggestions.tsx
  src/components/YandexSuggestions/YandexSuggestions.tsx
  src/contexts/DashboardContext.tsx
  src/hooks/useDebounceState.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/ui/Spinner/Spinner.module.scss
  src/ui/Spinner/Spinner.tsx
  src/ui/Spinner/index.ts
  src/ui/SuggestionList/SuggestionList.module.scss
  src/ui/SuggestionList/SuggestionList.tsx
Due: eslint -c .eslintrc.json, stylelint

update README
  README.md
Due: none

0.4.0
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

fix bug with modules in background script; update task file; fix bug with cold start; update README
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  README.md
  Taskfile.yml
  manifest.firefox.json
  package-lock.json
  package.json
  scripts/set-manifest.mjs
  vite.config.ts
Due: eslint -c .eslintrc.json

0.4.1
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

update README; fix scripts in package.json
  README.md
  package.json
Due: none

fix bug with executing commands in firefox when putting pc to sleep
  src/hooks/useCommandHotkey.ts
  src/hooks/useModeHotkey.ts
Due: eslint -c .eslintrc.json

0.4.2
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

hotfix
  .vscode/settings.json
  config.yaml
  src/hooks/useCommands.ts
Due: eslint -c .eslintrc.json

0.4.3
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

add claude
  .eslintignore
  .gitignore
  .stylelintignore
  CLAUDE.md
Due: none

add default config; reset config when has errors
  src/App.tsx
  src/configs/defaultConfig.ts
  src/store/reducers/configSlice.ts
  src/store/store.ts
Due: eslint -c .eslintrc.json

add github pipeline for releasing
  .eslintignore
  .github/workflows/release.yml
  README.md
  package.json
  scripts/bump-manifests.mjs
Due: none

0.4.4
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

hotfix bug with decodeURIComponent
  src/utils/getHumanReadableUrl.ts
Due: eslint -c .eslintrc.json

0.4.5
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

fix container size
  src/hooks/useMasonry.ts
Due: eslint -c .eslintrc.json

fix bug with initial position for new categories after config reloading
  src/hooks/useMasonry.ts
  src/ui/CategoryGrid/CategoryGrid.tsx
Due: eslint -c .eslintrc.json

add secondary color
  src/styles/index.scss
  src/styles/themes/dark.scss
  src/ui/SuggestionList/SuggestionList.module.scss
Due: stylelint

add config schema
  CLAUDE.md
  config.schema.json
  config.yaml
  package.json
  scripts/generate-config-schema.mjs
  src/api/mainApi.ts
  src/utils/removeNullObjectValues.ts
Due: eslint -c .eslintrc.json

0.4.6
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

add service setting for getting ip
  config.schema.json
  config.yaml
  manifest.chrome.json
  manifest.firefox.json
  src/api/mainApi.ts
  src/hooks/useShowIp.tsx
  src/schema/configSchema.ts
Due: eslint -c .eslintrc.json

0.4.7
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c .eslintrc.json: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
