Repository idefant/nerd-startpage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.json, stylelint

add manifest; install dependencies for addon development for firefox; add Taskfile
  .gitignore
  Taskfile.yml
  load.html
  package-lock.json
  package.json
  public/manifest.json
  src/background.ts
  src/load.ts
  vite.config.ts
Due: eslint -c .eslintrc.json

add search on google, yandex, history, bookmarks, sessions; add command palette
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  public/manifest.json
  src/App.tsx
  src/api/mainApi.ts
  src/hooks/reduxHooks.ts
  src/hooks/useBookmarkSuggestions.ts
  src/hooks/useDebounceState.ts
  src/hooks/useGoogleSuggestions.ts
  src/hooks/useHistorySuggestions.ts
  src/hooks/useSessionSuggestions.ts
  src/hooks/useYandexSuggestions.ts
  src/main.tsx
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
  src/pages/DashboardPage/index.ts
  src/store/index.ts
  src/store/reducers/configSlice.ts
  src/store/store.ts
  src/styles/index.scss
  src/types/suggestionType.ts
  src/utils/checkIsValidUrl.ts
  src/utils/getSearchEngineUrl.ts
  src/utils/getTextFromClipboard.ts
  src/utils/loopBetween.ts
  src/utils/openUrl.ts
Due: eslint -c .eslintrc.json, stylelint

add config
  package-lock.json
  package.json
  src/api/mainApi.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/store/reducers/configSlice.ts
  src/types/basicType.ts
  src/types/configType.ts
  src/types/modeType.ts
  src/types/suggestionType.ts
Due: eslint -c .eslintrc.json

fix bug with hotkeys
  src/api/mainApi.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
Due: eslint -c .eslintrc.json

add categories
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
  src/ui/CategoryCard/CategoryCard.tsx
  src/utils/getBestBy.ts
  src/utils/maxBy.ts
  src/utils/minBy.ts
Due: eslint -c .eslintrc.json, stylelint

fix bug with getting text from clipboard
  src/utils/getTextFromClipboard.ts
Due: eslint -c .eslintrc.json

add CategoryGrid & useMasonry
  src/hooks/useMasonry.ts
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
  src/ui/CategoryGrid/CategoryGrid.module.scss
  src/ui/CategoryGrid/CategoryGrid.tsx
  src/ui/CategoryGrid/index.ts
Due: eslint -c .eslintrc.json, stylelint

add icon into schema; update CategoryCard type
  src/schema/configSchema.ts
  src/ui/CategoryCard/CategoryCard.tsx
Due: eslint -c .eslintrc.json

add choosing color for card
  .prettierignore
  src/pages/DashboardPage/DashboardPage.module.scss
  src/schema/configSchema.ts
  src/styles/themes/dark.scss
  src/types/colorType.ts
  src/ui/CategoryCard/CategoryCard.module.scss
  src/ui/CategoryCard/CategoryCard.stories.ts
  src/ui/CategoryCard/CategoryCard.tsx
  src/ui/CategoryGrid/CategoryGrid.tsx
Due: eslint -c .eslintrc.json, stylelint

add backdrop
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
  src/styles/global.scss
Due: eslint -c .eslintrc.json, stylelint

add fetching my ip
  public/manifest.json
  src/api/mainApi.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
Due: eslint -c .eslintrc.json

add npm mode
  public/manifest.json
  src/api/mainApi.ts
  src/hooks/useNpmSuggestions.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/types/modeType.ts
  src/utils/getSearchEngineUrl.ts
Due: eslint -c .eslintrc.json

update url validation
  .eslintrc.json
  src/hooks/useGoogleSuggestions.ts
  src/hooks/useYandexSuggestions.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/utils/checkIsValidUrl.ts
Due: eslint -c .eslintrc.json

add links mode
  src/hooks/useLinkSuggestions.ts
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/types/modeType.ts
Due: eslint -c .eslintrc.json, stylelint

update README.md
  .github/command-palette.png
  .github/dashboard.png
  .github/google-search.png
  .github/npm-search.png
  README.md
  config.yaml
Due: none

0.3.0
  package-lock.json
  package.json
  public/manifest.json
Due: none

fix bug with clipboard permissions
  .gitignore
  README.md
  package-lock.json
  package.json
  public/manifest.json
  vite.config.ts
Due: eslint -c .eslintrc.json

Update README.md
  README.md
Due: none

add Tab hotkey
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

hide suggestions when lose focus
  src/pages/DashboardPage/DashboardPage.module.scss
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json, stylelint

remove package version from bundlephobia suggestions
  src/hooks/useNpmSuggestions.ts
  src/utils/getSearchEngineUrl.ts
Due: eslint -c .eslintrc.json

add top level domain checking for urls
  package-lock.json
  package.json
  src/utils/checkIsValidUrl.ts
Due: eslint -c .eslintrc.json

0.3.2
  package-lock.json
  package.json
  public/manifest.json
Due: none

set custom document title & favicon
  index.html
  load.html
  public/favicon.svg
Due: none

0.3.3
  package-lock.json
  package.json
  public/manifest.json
Due: none

fix bug with opening sessions; add filter for sessions; fix rerendering suggestions after opening session
  src/hooks/useSessionSuggestions.ts
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

fix bug with opening links when pressing standby key
  src/configs/reactHotkeyHookConfig.ts
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint -c .eslintrc.json

0.3.4
  package-lock.json
  package.json
  public/manifest.json
Due: none

add LICENSE
  LICENSE
Due: none

0.3.5
  package-lock.json
  package.json
  public/manifest.json
Due: none

update no-unused-vars eslint rule
  .eslintrc.json
  src/hooks/useDebounceState.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/utils/getBestBy.ts
  src/utils/maxBy.ts
  src/utils/minBy.ts
Due: eslint -c .eslintrc.json

add chromium support
  .eslintignore
  .gitignore
  .nvmrc
  README.md
  Taskfile.yml
  manifest.chrome.json
  manifest.firefox.json
  package-lock.json
  package.json
  scripts/set-manifest.mjs
  src/background.ts
  src/pages/DashboardPage/DashboardPage.module.scss
Due: eslint -c .eslintrc.json, stylelint

refactor code
  package-lock.json
  package.json
  src/data/color.ts
  src/data/mode.ts
  src/hooks/useMasonry.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
  src/types/colorType.ts
  src/types/modeType.ts
  src/utils/getBestBy.ts
  src/utils/loopBetween.ts
  src/utils/maxBy.ts
  src/utils/minBy.ts
Due: eslint -c .eslintrc.json

use defaultMode config param; reload config after set new config url
  src/pages/DashboardPage/DashboardPage.tsx
  src/schema/configSchema.ts
Due: eslint -c .eslintrc.json

parse url & format to human readable url
  package-lock.json
  package.json
  src/hooks/useHistorySuggestions.ts
  src/utils/getHumanReadableUrl.ts
Due: eslint -c .eslintrc.json

add `localhost` hostname for valid url
  src/utils/checkIsValidUrl.ts
Due: eslint -c .eslintrc.json

Path conditions:
  eslint -c .eslintrc.json: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
